@font-feature-values "0xProto" {
  /* @styleset { alt-a: 1; alt-g: 2; } */
  /* @stylistic { alternates: 1; } */
}

:root * {
  font-feature-settings:
  "ss01" 1,
  /* "ss02" 1, */
  "ss03" 1,
  "ss04" 1,
  /* "ss05" 1, */
  "ss06" 1,
  "ss07" 1,
  "ss08" 1,
  "ss09" 1,
  /* "ss10" 1, */
  /* "cv01" 1, */
  /* "cv02" 1, */
  /* "cv03" 1, */
  "cv04" 1,
  /* "cv05" 1, */
  /* "cv06" 1, */
  /* "cv07" 1, */
  "cv08" 1,
  /* "cv09" 1, */
  /* "cv10" 1, */
  "zero" 1,
  /* "cv11" 1, */
  /* "cv12" 1, */
  /* "cv13" 1, */
  "cv14" 1,
  /* "cv15" 1, */
  "cv16" 1,
  /* "cv17" 1, */
  "cv18" 1,
  /* "cv19" 1, */
  /* "cv20" 1, */
  /* "cv21" 1, */
  /* "cv22" 1, */
  /* "cv23" 1, */
  /* "cv24" 1, */
  "cv25" 1,
  "cv26" 1,
  "cv27" 1,
  "cv28" 1,
  "cv29" 1,
  "cv30" 1,
  "cv31" 1,
  "cv32" 1,
  "onum" 1;

  caret-color: auto;
}